html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.homePage_bg {
  background-image: url(../src/assets/Images/bghome.svg);
}

.swiper-slide {
  width: 100%;
  height: 100%;
}

.swiper-button-next , 
.swiper-button-prev{
  width: 40px;
  height: 40px;
  position: absolute;
  background-color: transparent;
  top: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  color:rgba(215, 235, 32, 0.941);
  backdrop-filter: blur(10px);
  z-index: 30;
  border-radius: 50%;
  cursor: pointer;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev{
  left: 0;
}


.sweerAnimation {
  animation: sweept 0.5s forwards linear;
}

@keyframes sweept {
  from {
    opacity: 0;
    padding-left: 0;
  }
  to {
    opacity: 1;
    padding-left: 12px;
  }
}

.VideoSliderSwept {
  animation: vsweept 0.5s forwards linear;
}

@keyframes vsweept {
  from {
    opacity: 0;
    padding-left: 0;
  }
  to {
    opacity: 1;
    padding-left: 12px;
  }
}

.progress {
  animation: 0.5s linear 0.5s forwards mve;
  transform-origin: left;
}

.progress::after {
  content: attr(after-ele-width);
  position: absolute;
  font-size: 10px;
  top: -25px;
  right: -15px;
  background-color: blueviolet;
  transform: rotate(0) !important;
  padding: 2px 8px;
  border-radius: 10%;
  animation: 0.5s linear 0.5s forwards opct;
  transform-origin: left;
}

.progress::before {
  content: "";
  position: absolute;
  top: -13px;
  right: -4px;
  width: 8px;
  height: 8px;
  background: blueviolet;
  transform: rotate(45deg) scale(0);
  animation: 0.5s linear 0.5s forwards opct;
  transform-origin: left;
}
@keyframes opct {
  from {
    opacity: 0;
    transform: rotate(45deg) scale(0);
  }
  to {
    opacity: 1;
    transform: rotate(45deg) scale(1);
  }
}
@keyframes mve {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@media (max-width: 1024px) {
  .videoSlider {
    animation: slide 0.5s ease-in forwards;
  }
  .sliderOff {
    animation: offSlide 0.5s linear forwards;
  }
}

@keyframes slide {
  100% {
    transform: translateX(300px);
  }
}

@keyframes offSlide {
  100% {
    transform: translateX(-300px);
  }
}

.inputStyle {
  width: 45px !important;
  height: 55px !important;
  font-size: 18px;
  text-align: center;
  /* background-color: rgb(24, 44, 63); */
  /* border: 2px solid #3481c9; */
  border-radius: 8px;
  margin: 0 5px;
  outline: none;
  transition: border-color 0.3s;
}
/* @keyframes duration | easing-function | delay |
 * iteration-count | direction | fill-mode | play-state | name */
/* animation: 3s ease-in 1s 2 reverse both paused slidein; */
